# /node_modules
# .env
# /.vscode
# *.log
# yarn-error.log
# .gitignore
# /Auth
# /controllers
# /models
# /server
# /MongoDB
# /lib/controllers
# /lib/models
# /lib/app*.*
# /lib/sami.config.js
# /lib/sami.config.js.map
# sami.config.ts
# tslint.json
# app.ts
# .tsconfig
# index.js

*
!lib/src/**
!.npmignore