/node_modules
.env
/.vscode
*.log
yarn-error.log
.gitignore
/Auth
/controllers
/models
/server
/MongoDB
/out
/lib/controllers
/lib/models
/lib/app.js
/lib/app.js.map
/lib/app.d.ts
/lib/sami.config.js
/lib/sami.config.js.map
sami.config.ts
tslint.json
app.ts
.tsconfig
