/node_modules
/out
.env
/.vscode
*.log
yarn-error.log
.gitignore
/Auth
/controllers
/models
MongoDB
/out/app.js
/out/app.js.map
/out/app.d.ts
/out/sami.config.js
/out/sami.config.js.map
sami.config.ts
tslint.json
